<!DOCTYPE HTML>
<html>

<head>
    <title>Java EE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="icon" href="./images/favicon.png" />
</head>

<body class="subpage">

    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="index.html">Java JEE <span>by Florimon Dch</span></a></div>
        <a href="#menu"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="java.html">Java</a></li>
            <li><a href="db.html">Bases de données</a></li>
            <li><a href="web.html">Web</a></li>
            <li><a href="javaee.html">Java EE (api servlet et JSP)</a></li>
            <li><a href="service.html">Service Web avec Java SE</a></li>
            <li><a href="jpa.html">JPA Hibernate</a></li>
            <li><a href="outils.html">Outils</a></li>
            <li><a href="spring.html">Spring</a></li>
            <li><a href="angular.html">Angular</a></li>
        </ul>
    </nav>

    <!-- Content -->
    <!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
    <section id="post" class="wrapper bg-img" data-bg="land12.jpg">
        <div class="inner">
            <article class="box">
                <header>
                    <h2>JAVA EE</h2>
                    <p>18.02.2020</p>
                </header>
                <div class="content">

                    <h4>Installation</h4>
                    <p>Pour créer une application Java web, il faut installer un serveur d'application Apache <b><a
                                href="https://tomcat.apache.org/download-90.cgi" target="_blank">Tomcat</a></b>.
                        <br>
                        <ul>
                            <li>Très léger</li>
                            <li>Par défaut, le port utilisé par Apache Tomcat est <b>8080</b></li>
                            <li>Le serveur web sera accessible à l'adresse <b>http://localhost:8080</b></li>
                            <li>Chaque projet seront accessibles aux adresses http://localhost:8080/<b>nom-projet</b>/
                            </li>
                        </ul>
                    </p>


                    <h4>L'API Servlet</h4>
                    <p>Un <b>Servlet</b> est un point d'accès, il est accessible grâce à une requête HTTP (GET, POST,
                        PUT, DELETE) sur une URL spécifiée <br>(ex : http://localhost/projet/home).
                        On appelle cela le <b>"Mapping"</b>.
                        <br>
                        <br>C'est elle qui génère la vue et la retourne au navigateur.

                        <table style="text-align: center;">
                            <tr>
                                <td>doGet</td>
                                <td>Requête HTTP GET</td>
                            </tr>
                            <tr>
                                <td>doPost</td>
                                <td>Requête HTTP POST</td>
                            </tr>
                            <tr>
                                <td>doPut</td>
                                <td>Requête HTTP PUT</td>
                            </tr>
                            <tr>
                                <td>doDelete</td>
                                <td>Requête HTTP DELETE</td>
                            </tr>
                        </table>

                        Chaque Servlet doit être mappée sur une URL.
                        <br><br>
                        <h5>Configuration "web.xml"</h5>



                        <pre><code>                            < servlet>
                                < servlet-name > Home < /servlet-name>   
                                < servlet-class > fr.projet.servlet.HomeServlet < /servlet-class>   
                                < load-on-startup> 1 < /load-on-startup>    
                            < /servlet>

                            < servlet-mapping>
                                < servlet-name> Home< /servlet-name>
                                < url-pattern> /home< /url-pattern>
                            < /servlet-mapping></code></pre>

                        <h5>Annotation</h5>
                        <pre><code>@WebServlet("/home")
public class HomeServlet extends HttpServlet{}</code></pre>

                        <h4>Les Servlets</h4>
                        <ul>
                            <li><b>HttpServletRequest</b> contient des informations de la la requête HTTP
                                (paramètre de la requête, attributs, session utilisateur ou toute autre information
                                envoyée du client vers le serveur).
                                <br><br>
                                <ul>
                                    <li><b>Récupérer</b> un <b>paramètre</b> de requête
                                        <br><br>
                                        ex : http://localhost:8080/mon-projet/home?username=toto
                                        <br>
                                        <br>
                                        <pre><code>String myUserName = req.getParameter("username");</code></pre>
                                    </li>
                                    <li><b>Ajouter</b> un <b>attribut</b> de requête
                                        <br>
                                        <br>
                                        <pre><code>Object myVariable = req.getAttribute("nomVariable","valeur");</code></pre>
                                    </li>
                                    <li><b>Récupérer</b> la <b>session</b> de l'utilisateur
                                        <br>
                                        <br>
                                        <pre><code>Object myVariable = req.getSession();</code></pre>
                                    </li>
                                    <li><b>Récupérer</b> un <b>attribut</b> de la session de l'utilisateur
                                        <br>
                                        <br>
                                        <pre><code>Object myVariable = req.getAttribute("variableDeSession");</code></pre>
                                    </li>
                                </ul>

                            </li>



                            <br>
                            <li><b>HttpServletResponse</b> contient les éléments de la réponse HTTP qui sera envoyée
                                (permet d'écrire du contenu HTML ou demander une redirection par exemple).
                                <br><br>
                                <ul>
                                    <li><b>Spécifier</b> le <b>type</b> de contenu (contenu HTML dans l'exemple)
                                        <br>
                                        <br>
                                        <pre><code>resp.setContentType("text/html");</code></pre>
                                    </li>
                                    <li><b>Ajouter</b> du <b>contenu</b>
                                        <br>
                                        <br>
                                        <pre><code>resp.getWriter().println("hello world");</code></pre>
                                    </li>

                                    <li><b>Rediriger</b> vers une autre <b>Servlet</b>
                                        <br>
                                        <br>
                                        <pre><code>resp.sendRedirect("autreServlet");</code></pre>
                                    </li>
                                </ul>

                            </li>
                        </ul>

                        Chaque <b>Servlet</b> peur initialier des <b>paramètres</b> par annotation.
                        <br><br>
                        <pre><code>@WebServlet(
    urlPatterns = "/home",
    initParams = {
        @WebInitParam(name="param", value="Valeur"),
        @WebInitParam(name="param2", value="Valeur2"),
    }
)</code></pre>

                        Il est possible de <b>récupérer</b> les paramètres dans une <b>méthode</b> de la Servlet.
                        <br>
                        <br>
                        <pre><code>ServletConfig myServletConfig = this.getServletConfig();
resp.getWriter().println("< p>" + myServletConfig.getInitParameter("Param")+ "< /p>");
for(Enumeration e = myServletConfig.getInitParameterNames(); e.hasMoreElements();){
    String myParameterName = (String)e.nextElement();
    resp.getWriter().println("< p>" + myParameterName + " = " + 
    myServletConfig.getInitParameter(myParameterName))
}</code></pre>


                        <!--        <br>Un <b>Listener</b> est un Ecouteur qui déclenche une action lorsqu'un évènement se
                        déclenche.

                        <br><br>Un <b>Filter</b> permet de filtrer des requêtes.
                    </p>-->
                        <h4>Les JSP</h4>
                        Il peut être pénible d'écrire une vue HTML dans un fichier Java.

                        <br><br>On peut utiliser une <b>JSP</b> (JavaServer Pages) qui est une Servlet compilée et
                        auto-indéxée. <br>Il est possible de comparer cela à une page HTML dans laquelle on peut ajouter
                        du code provenant d'un autre langage.
                        <br>
                        <br>
                        <ul>
                            <li>Déployée par le conteneur de Servlet</li>
                            <li>Les variables request et response sont accessibles</li>
                        </ul>

                        Dans une JSP, on peut inclure du <b>Java</b>, ou des instructions pour <b>fabriquer /
                            compiler</b>.
                        <br><br>
                        <ul>
                            <li><b>Directive</b>
                                <br>
                                <br>
                                <pre><code><%@ directive option %></code></pre>
                            </li>
                            <li><b>Code Java (Scriptlet)</b>
                                <br>
                                <br>
                                <pre><code><% ... %></code></pre>
                            </li>
                            <li><b>Expression (Impression de la valeur d'une variable)</b>
                                <br>
                                <br>
                                <pre><code><%= ... %></code></pre>
                            </li>
                            <li><b>Commentaire Java</b>
                                <br>
                                <br>
                                <pre><code><%-- ... --%></code></pre>
                            </li>
                            <li><b>Déclaration</b>
                                <br>
                                <br>
                                <pre><code><%! ... %></code></pre>
                            </li>
                            <li><b>Importer une classe</b>
                                <br>
                                <br>
                                <pre><code><%@ page import="package.class" %></code></pre>
                            </li>
                            <li><b>Préciser l'encodage</b>
                                <br>
                                <br>
                                <pre><code><%@ page pageEncoding="UTF-8" %></code></pre>
                            </li>
                            <li><b>Ajouter une taglib</b>
                                <br>
                                <br>
                                <pre><code><%@ taglib uri="http://lurl-de-la-lib" prefix="leprefix" %></code></pre>
                            </li>
                        </ul>

                        Il est possible d'utiliser les <b>Expressions languages (EL)</b> en JSP en utilisant la syntaxe
                        suivante :

                        <ul>
                            <li>${ variable} ou ${5 + 5}</li>
                            <li>EL permet de lire une variable qui se trouve, en tant qu'attribut, dans un des scopes
                                existants</li>
                            <li>Pour lire un paramètre de requête on peut utiliser l'attribut <b>"param"</b> :
                                ${param.nomParametre}</li>
                        </ul>

                        Il est possible d'étendre le vocabulaire JSP avec <b>JSTL</b>.
                        <br>Pour cela il faut ajouter la dépendance JSTL de javax.servlet (version 1.2) en préambule de
                        toutes les JSP
                        <br><br>
                        <pre><code><%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %></code></pre>

                        <table style>
                            <tr style="font-weight: bold; text-align: center;">
                                <td>fonction</td>
                                <td>syntaxe</td>
                                <td>utilisation</td>
                            </tr>
                            <tr>
                                <td>Afficher</td>
                                <td>
                                    <pre><code>< c:out value="${variable}">Valeur par défaut< /c:out></code></pre>
                                </td>
                                <td>Permet d'afficher une variable.</td>
                            </tr>

                            <tr>
                                <td>Test</td>
                                <td>
                                    <pre><code>< c:if test="${ 50 > 10}" var="variable">
    Valeur par défaut
< /c:if></code></pre>
                                </td>
                                <td>Si le test est correct affiche "valeur par défaut" ("else" n'existe pas).</td>
                            </tr>

                            <tr>
                                <td>Test multiple</td>
                                <td>
                                    <pre><code>< c:choose>
    < c:when test="${ variable }"> texte 1< /c:when>
    < c:when test="${ autreVariable}"> texte 2< /c:when>
    < c:otherwise>< /c:otherwise> 
< /c:choose></code></pre>
                                </td>
                                <td>Les conditions sont exécutées dans l'ordre. Si aucune ne convient, c'est otherwise
                                    qui sera exécuté.</td>
                            </tr>

                            <tr>
                                <td>Boucle simple</td>
                                <td>
                                    <pre><code>< c:forEach var="i" begin="0" end="10" step="2">
    Un message n°< c:out value="${ i }" /> !
< /c:forEach></code></pre>
                                </td>
                                <td>Une boucle qui s'exécute un certain nombre de fois en JSTL. </td>
                            </tr>

                            <tr>
                                <td>Boucle sur un tableau</td>
                                <td>
                                    <pre><code>< c:forEach items="${ titres }" var="titre" varStatus="status">
    N°< c:out value="${ status.count }" /> : <c:out value="${ titre }" /> 
< /c:forEach></code></pre>
                                </td>
                                <td>Une boucle qui s'exécute sur chaque élément d'un tableau. </td>
                            </tr>

                            <tr>
                                <td>Boucle sur une chaine de caractère
                                </td>
                                <td>
                                    <pre><code>< c:forTokens var="morceau" items="élém1/élém2/élém3 delims="/">
   ${ morceau }
< /c:forTokens></code></pre>
                                </td>
                                <td>Une boucle qui s'exécute sur chaque élément du string séparé par "/".</td>
                            </tr>

                            <tr>
                                <td>Boucle ForEach
                                </td>
                                <td>
                                    <pre><code>< c:forEach var="i" begin="0" end="7" step="1">
   ${ i }
< /c:forEach></code></pre>
                                </td>
                                <td>Une boucle qui s'exécute un nombre d'entier entre "begin" et "end" avec une
                                    incrémentation de "step".</td>
                            </tr>


                        </table>

                        Pour utiliser des attributs de la Servlet dans une JSP :
                        <br><br>

                        Il faut d'abord déclarer les attributs dans la Servlet :
                        <br><br>
                        <pre><code>List< String> MesUtilisateurs = new ArrayList< String>();

mesUtilisateurs.add("utilisateur1");
mesUtilisateurs.add("utilisateur2");
mesUtilisateurs.add("utilisateur3");

req.setAttribute("listUtilisateur", mesUtilisateurs);</String></code></pre>
                        <br>
                        Puis les récupérer dans la JSP
                        <br><br>

                        <pre><code >< table>
    < c:forEach items="${listUtilisateur}" var="utilisateur">
        < tr>
            < td>${utilisateur}< /td>
        < /tr>
    < /c:forEach>
< /table></code></pre>

                </div>

            </article>
        </div>
    </section>



    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>